nav(ng-controller='HomeCtrl as home')
  div(class='nav-wrapper')
    a(ui-sref='home' class='brand-logo center') {{ home.applicationName }}

    a(href='#' data-activates='mobile-navbar' class='button-collapse')
        i(class='material-icons') menu

    ul(class='left hide-on-med-and-down')
      li
        a(ui-sref='home') Home
            i(class='material-icons left') home
      li
        a(ui-sref='nodes') Nodes
            i(class='material-icons left') devices_other
      li
        a(ui-sref='logs') Logs
            i(class='material-icons left') list

    ul(class='side-nav' id='mobile-navbar')
      li
        a(ui-sref='home') Home
            i(class='material-icons left') home
      li
        a(ui-sref='nodes') Nodes
            i(class='material-icons left') devices_other
      li
        a(ui-sref='logs') Logs
            i(class='material-icons left') list
