div(class='row')
    div(class='col s12 m4 l3')
        div(class='collection')
            li(ng-click='nodes.selected = node' ng-class="{active: (nodes.selected._id==node._id)}" ng-repeat='node in nodes.nodes' class='collection-item')
                strong(class='title') {{ node._id }}
                br
                i Seen
                    time(ng-attr-title="{{ node.updatedAt | amDateFormat:'' }}" am-time-ago='node.updatedAt')

    div(class='col s12 m8 l9')
        h1 {{ nodes.selected._id }}
